:root{
    --purple: #830083;
}

body{
    margin: 0;
    border: 3px solid var(--purple);
    text-align: center;
    font-size: 14px;
    padding: 30px;
    
}

h2{
    margin: 0;
}

.d-flex{display: flex;}
.justify-between{justify-content: space-between;}
.justify-flex-end{justify-content: flex-end;}

.content{
    width: 920px;
    margin: 0 auto;
}

.header-wrapper{
    height: 95px;
    border: 3px solid #170076;
    margin-bottom: 10px;
}

.wrapper{
    padding: 25px 12px 8px;
    border: 3px solid #008200;
    margin-bottom: 10px;
}
.main-wrapper{
    border: 3px solid #d9dd00;
    width: 100%;
    margin-right: 11px;
}
.sidebar-wrapper{
    border: 3px solid black;
    width: 100%;
    padding: 10px;
}

.justify-content{justify-content: center;}
.align-items{align-items: center;}

.sidebar-3{
    height: 120px;
    border: 3px solid orange;
    margin-bottom: 10px;
    
}

.sidebar-1-and-2{
    margin-bottom: 15px;
}
.sidebar-1{
    height: 290px;
    border: 3px solid red;
    margin-right: 4px;
    width: 100%;
}

.sidebar-2{
    height: 290px;
    border: 3px solid pink;
    width: 100%;
}

.footer-wrapper{
    height: 92px;
    margin-bottom: 10px;
    border: 3px solid brown;
    
}



